@page
@using RCPylonRaceManagerWithRazorPages.Components.IndexComponents
@model IndexModel
@{
    ViewData["Title"] = "Season Select";
}

<div class="text-center">
    <h1 class="display-4">Season Select</h1>
</div>
@*TODO: Make as Component and Render Dynamically*@
<div>
    @(await Html.RenderComponentAsync<IndexTableComponent>(RenderMode.WebAssemblyPrerendered, Model.SendObject))
    <a class="btn btn-primary" asp-page="/Season" asp-route-year="2021">Go To Season</a>
</div>
<div>
    <button class="btn btn-primary">Add Season</button>
    <button class="btn btn-danger">Quit</button>
</div>
@*Remove After Testing*@
<hr/>
<p>Remove after testing</p>
<div>
    <a class="btn btn-primary" asp-page="/Race" asp-route-raceId="9">Go To Race</a>
    <a class="btn btn-primary" asp-page="/Round" asp-route-roundId="1">Go To Round</a>
</div>
