@page
@model RCPylonRaceManagerWithRazorPages.Pages.RaceModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Race Panel";
}

<div class="text-center">
    <h1 class="display-4">Race Panel</h1>
</div>