@page
@using RCPylonRaceManagerWithRazorPages.Components.RaceDayComponents
@model RCPylonRaceManagerWithRazorPages.Pages.RaceModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Race Panel";
}

<div class="text-center">
    <h1 class="display-4">Race Panel</h1>
</div>
@*TODO: Make as Component and Render Dynamically*@
<div>
    @(await Html.RenderComponentAsync<RacePilotTableComponent>(RenderMode.WebAssemblyPrerendered, Model.PilotTable))
</div>
<div>
    <a class="btn btn-primary" asp-page="/Round">Start New Round</a>
    <button class="btn btn-outline-danger">Go Back</button>
</div>