@page
@model RCPylonRaceManagerWithRazorPages.Pages.RaceModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Race Panel";
}

<div class="text-center">
    <h1 class="display-4">Race Panel</h1>
</div>
@*TODO: Make as Component and Render Dynamically*@
<div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th colspan="3">Race Pilots</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Has Paid</th>
                <th>Pilot Name</th>
                <th>Score</th>
                <th>Fastest Race Time</th>
                <th>Last Race Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Trevor Stubbs</td>
                <td>3:16</td>
                <td>4:22</td>
            </tr>
            <tr>
                <td><input type="checkbox" checked /></td>
                <td>Roy Stubbs</td>
                <td>3:11</td>
                <td>3:55</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">Register Pilot</button>
</div>
<div>
    <a class="btn btn-primary" asp-page="/Round">Start New Round</a>
    <button class="btn btn-outline-danger">Go Back</button>
</div>