@page
@using RCPylonRaceManagerWithRazorPages.Components.RoundComponents
@using RCPylonRaceManagerWithRazorPages.Model.DTOs
@model RCPylonRaceManagerWithRazorPages.Pages.RoundModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Round Panel";
}

<div class="text-center">
    <h1 class="display-4">Round @Model.Round.RoundNumber</h1>
</div>

@*TODO: Make as Component and Render Dynamically*@
<div>
    @(await Html.RenderComponentAsync<RoundHeatTableGridComponent>(RenderMode.ServerPrerendered, Model.HeatTables))
</div>
<div class="container">
    @(await Html.RenderComponentAsync<RoundOTSPilotTableComponent>(RenderMode.ServerPrerendered, Model.OTSPilots))
</div>
<div>
    <button class="btn btn-primary">Finish Round</button>
</div>
