@page
@model RCPylonRaceManagerWithRazorPages.Pages.RoundModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Round Panel";
}

<div class="text-center">
    <h1 class="display-4">Round Panel</h1>
</div>
