@page
@model RCPylonRaceManagerWithRazorPages.Pages.SeasonModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Season Panel";
}

<div class="text-center">
    <h1 class="display-4">Season Panel</h1>
</div>