@page "/season/{year:int?}"
@using RCPylonRaceManagerWithRazorPages.Components.SeasonComponents 
@model RCPylonRaceManagerWithRazorPages.Pages.SeasonModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Season Panel";
}

<div class="text-center">
    <h1 class="display-4">@Model.Season.Year Season</h1>
</div>
@*TODO: Make as Component and Render Dynamically*@
<div>
    @(await Html.RenderComponentAsync<SeasonTableComponent>(RenderMode.ServerPrerendered, @Model.SendObject))
</div>
<div>
    <button class="btn btn-primary">Start New Race Day</button>
    <button class="btn btn-outline-danger">Go Back</button>
</div>
