@using RCPylonRaceManagerWithRazorPages.Model.DTOs

<tr>
    <td>
        <a class="text-decoration-none text-body" href="/season/@Season.Year">
            @Season.Year
        </a>
    </td>
</tr>

@code {
    [Parameter]
    public SeasonDTO Season { get; set; }
}
