@using RCPylonRaceManagerWithRazorPages.Model.DTOs

<table class="table table-hover">
    <thead>
        <tr>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var season in Seasons)
        {
                <IndexTableDataComponent Season="@season" />
        }
    </tbody>
</table>



@code {
    [Parameter]
    public List<SeasonDTO> Seasons { get; set; }
}
