@using RCPylonRaceManagerWithRazorPages.Model.DTOs
<table class="table">
    <thead>
        <tr class="text-center">
            <th colspan="3">Race Days</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col" style="width: 5%"></th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var race in RaceDayDTOs)
        {
            <SeasonRaceTableDataComponent RaceDay="@race" />
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<RaceDayDTO> RaceDayDTOs { get; set; }
}
